\:root 
    --heat-wave: #ff7b00ff
    --dark-orange: #ff8800ff
    --yellow-orange-color-wheel: #ff9500ff
    --orange-web: #ffa200ff
    --chrome-yellow: #ffaa00ff
    --selective-yellow: #ffb700ff
    --mikado-yellow: #ffc300ff
    --cyber-yellow: #ffd000ff
    --sizzling-sunrise: #ffdd00ff
    --middle-yellow: #ffea00ff


    --heat-wave: hsla(29, 100%, 50%, 1)
    --dark-orange: hsla(32, 100%, 50%, 1)
    --yellow-orange-color-wheel: hsla(35, 100%, 50%, 1)
    --orange-web: hsla(38, 100%, 50%, 1)
    --chrome-yellow: hsla(40, 100%, 50%, 1)
    --selective-yellow: hsla(43, 100%, 50%, 1)
    --mikado-yellow: hsla(46, 100%, 50%, 1)
    --cyber-yellow: hsla(49, 100%, 50%, 1)
    --sizzling-sunrise: hsla(52, 100%, 50%, 1)
    --middle-yellow: hsla(55, 100%, 50%, 1)


