@charset "UTF-8";
box-l {
  display: block;
  padding: var(--s1);
  border-width: var(--border-thin);
  /* ↓ For high contrast mode */
  outline: var(--border-thin) solid transparent;
  outline-offset: calc(var(--border-thin) * -1);
}

center-l {
  display: block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--measure);
}

cluster-l > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: calc(var(--s1) / 2 * -1);
}

cluster-l > * > * {
  margin: calc(var(--s1) / 2);
}

cover-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  padding: var(--s1);
  overflow: hidden;
}

frame-l {
  display: block;
  position: relative;
  padding-bottom: calc(6 / 9 * 100%);
  overflow: hidden;
}

frame-l > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

frame-l > img,
frame-l > video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

grid-l {
  display: -ms-grid;
  display: grid;
  grid-gap: var(--s1);
  -ms-flex-line-pack: start;
      align-content: start;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

icon-l svg {
  height: 0.75em;
  height: 1cap;
  width: 0.75em;
  width: 1cap;
}

imposter-l {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

reel-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: var(--color-light) var(--color-dark);
}

reel-l > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 var(--item-width);
          flex: 0 0 var(--item-width);
}

reel-l > img {
  height: 100%;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: auto;
}

reel-l::-webkit-scrollbar {
  height: 1rem;
}

reel-l::-webkit-scrollbar-track {
  background-color: var(--color-dark);
}

reel-l::-webkit-scrollbar-thumb {
  background-color: var(--color-dark);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, var(--color-dark)), color-stop(0.25rem, var(--color-dark)), color-stop(0.25rem, var(--color-light)), color-stop(0.75rem, var(--color-light)), color-stop(0.75rem, var(--color-dark)));
  background-image: linear-gradient(var(--color-dark) 0, var(--color-dark) 0.25rem, var(--color-light) 0.25rem, var(--color-light) 0.75rem, var(--color-dark) 0.75rem);
}

sidebar-l > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

sidebar-l > * > * {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

stack-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

stack-l > * + * {
  margin-top: var(--s1);
}

switcher-l {
  display: block;
}

switcher-l > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

switcher-l > * > * {
  -ms-flex-preferred-size: calc((var(--measure) - 100%) * 999);
      flex-basis: calc((var(--measure) - 100%) * 999);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

:root {
  --heat-wave: #ff7b00ff;
  --dark-orange: #ff8800ff;
  --yellow-orange-color-wheel: #ff9500ff;
  --orange-web: #ffa200ff;
  --chrome-yellow: #ffaa00ff;
  --selective-yellow: #ffb700ff;
  --mikado-yellow: #ffc300ff;
  --cyber-yellow: #ffd000ff;
  --sizzling-sunrise: #ffdd00ff;
  --middle-yellow: #ffea00ff;
  --heat-wave: hsla(29, 100%, 50%, 1);
  --dark-orange: hsla(32, 100%, 50%, 1);
  --yellow-orange-color-wheel: hsla(35, 100%, 50%, 1);
  --orange-web: hsla(38, 100%, 50%, 1);
  --chrome-yellow: hsla(40, 100%, 50%, 1);
  --selective-yellow: hsla(43, 100%, 50%, 1);
  --mikado-yellow: hsla(46, 100%, 50%, 1);
  --cyber-yellow: hsla(49, 100%, 50%, 1);
  --sizzling-sunrise: hsla(52, 100%, 50%, 1);
  --middle-yellow: hsla(55, 100%, 50%, 1);
}

:root {
  --measure: 60ch;
  --ratio: 1.35;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --color-10: var(--heat-wave);
  --color-2: var(--dark-orange);
  --color-3: var(--yellow-orange-color-wheel);
  --color-4: var(--orange-web);
  --color-5: var(--chrome-yellow);
  --color-6: var(--selective-yellow);
  --color-7: var(--mikado-yellow);
  --color-8: var(--cyber-yellow);
  --color-9: var(--sizzling-sunrise);
  --color-1: var(--middle-yellow);
  --trans-amount: 0.5;
  --primary: var(--color-1);
  --primary-trans: hsla(29, 100, 50, var(--trans-amount));
  --blur: 3rem;
  --border-rad: 0.5rem;
  --box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  --pad: 1rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
figcaption {
  max-width: var(--measure);
}

* {
  font-family: monospace;
}

html, body, div, header, nav, main, footer, box-l, cover-l, grid-l {
  max-width: none;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
}

html {
  background: var(--primary);
}

body {
  overflow: auto;
  overflow-x: hidden;
}

img {
  width: 100%;
}

hr {
  width: 100%;
}

[x-cloak] {
  display: none !important;
}

cover-l:not(:defined), center-l:not(:defined), sidebar-l:not(:defined), cluster-l:not(:defined) {
  display: block;
  height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

cover-l, center-l, sidebar-l, cluster-l {
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

box-l {
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border-radius: var(--border-rad);
}

nav {
  position: fixed;
  z-index: 200;
  top: 0;
  width: 100%;
  background: var(--color-9);
}

nav img {
  max-height: 3rem;
  width: auto;
}

#offset {
  margin-top: calc(3rem + var(--pad));
}

.technologies reel-l {
  padding: 1rem;
}

.technologies reel-l frame-l img {
  -o-object-fit: contain;
     object-fit: contain;
}

.shadow-1 {
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=style.css.map */